* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: "PingFangSC-Regular", "Microsoft YaHei", "Open Sans", Arial, "Hiragino Sans GB", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
